<div class="col-8 pt-2">
    <button type="button" class="m-2 btn btn-success btn-lg" id="run">Ejecutar</button>
</div>

<div class="col-xl-6">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="card">
                <div class="card-header">
                    <h4>4D Editor</h4>
                </div>
                <textarea class="codemirror-textarea" name="" id="" cols="30" rows="10"></textarea>
            </div>
        </div>
    </div>
</div>

<div class="col-xl-6">
    <div class="row">
        <div class="col-4 pt-3">
            <div class="card">
                <div class="card-header">
                    <h3>Stack</h3>
                </div>
                <ul class="list-group list-group-flush" id="stack">
                </ul>
            </div>
        </div>

        <div class="col-4 pt-3">
            <div class="card">
                <div class="card-header">
                    <h3>Heap</h3>
                </div>
                <ul class="list-group list-group-flush" id="heap">
                </ul>
            </div>
        </div>

        <div class="col-4 pt-3">
            <div class="card" >
                <div class="card-header">
                    <h3>Temporales</h3>
                </div>
                <ul class="list-group list-group-flush" id="temps">
                </ul>
            </div>
        </div>
        <div class="col-12 mt-3 mr-5">
            <div class="card">
                <div class="card-header">
                    <h5>Console</h5>
                </div>
                <textarea class="codemirror-textarea" name="" id="" cols="30" rows="10"></textarea>
            </div>
        </div>
    </div>
</div>