<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <a class="navbar-brand" href="#">C3DLang</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/c3D">3D</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Debug">Debug</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Report">Reports</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/About">About</a>
            </li>
        </ul>
    </div>
</nav>