<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OLC2</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../CodeMirror/lib/codemirror.css" />
    <link rel="stylesheet" href="../CodeMirror/theme/dracula.css" />

    <script type="text/javascript" src="../CodeMirror/lib/codemirror.js"></script>
    <script type="text/javascript" src="../CodeMirror/addon/mode/simple.js"></script>
    <script type="text/javascript" src="../src/modo4d.js"></script>
    <link rel="stylesheet" href="../css/c4d.css">
</head>

<body>
    {{>nav}}
    <div class="container-fluid">
        <div class="row">
            {{{body}}}
        </div>

    </div>

    <footer class="section footer-classic context-dark bg-image mt-4">
        <div class="container">
          <div class="row row-30">
            <div class="col-md-4 col-xl-5">
              <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light" src="images/agency/logo-inverse-140x37.png" alt="" width="140" height="37" srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
            
                <!-- Rights-->
                <p class="rights"><span>©  </span><span class="copyright-year">2020</span><span> </span><span>Erik Flores</span><span>. </span><span>All Rights Reserved.</span></p>
              </div>
            </div>
            <div class="col-md-4">
              <h5>Contacts</h5>
              <dl class="contact-list">
                <dt>Github:</dt>
                <dd>https://github.com/erflod5</dd>
              </dl>
              <dl class="contact-list">
                <dt>email:</dt>
                <dd><a href="mailto:#">erflod5@gmail.com</a></dd>
              </dl>
            </div>
          </div>
        </div>
      </footer>
    <script type="module" src="../src/C4D.js"></script>
</body>

</html>
